# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
#
# See https://github.com/r-lib/actions/tree/master/examples#readme for
# additional example workflows available for the R community.

name: R

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: Ubuntu-latest
    strategy:
      matrix:
        r-version: [4.0.3]

    steps:
      - uses: actions/checkout@v2
      - name: Set up R ${{ matrix.r-version }}
        uses: r-lib/actions/setup-r@38236f0b8b512ff5386932ae400548ce3a6ef27f
        with:
          r-version: ${{ matrix.r-version }}
#       - name: Install dependencies
#         run: |
#           install.packages(c("remotes", "rcmdcheck"))
#           remotes::install_deps(dependencies = TRUE)
#         shell: Rscript {0}
      - name: Check
#         run: rcmdcheck::rcmdcheck(args = "--no-manual", error_on = "error")
#         shell: Rscript {0}
        run: |
          cd .. 
          sudo apt install -y r-cran-knitr
          R CMD build slurmR
          R CMD check --no-manual --no-build-vignettes --no-stop-on-test-error slurmR_*
